.logo {
  text-align: center;
  font-size: 10vw;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.logo > img {
  width: 100%;
}

.block_slider_type_2 .caption.type_1 {
  width: 100%;
}

img.instafeed {
  width: 46px;
  height: 46px;
}

header .middle {
  padding-top: 30px;
  padding-bottom: 30px;
}

.block_responsive_menu {
  display:none;
}

.block_sidebar_social .row.ig .text {background-image:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_ig_1.jpg);}
.block_sidebar_social .row.ig .text {background-image:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_ig_1_r.jpg); background-size:31px 31px;}

.block_secondary_menu .menu_type_2 {
    width: 380px;
}
