.logo {
  text-align: center;
  font-size: 10vw;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.logo > img {
  width: 100%;
}

.block_slider_type_2 .caption.type_1 {
  width: 100%;
}

img.instafeed {
  width: 46px;
  height: 46px;
}

header .middle {
  padding-top: 30px;
  padding-bottom: 30px;
}

.block_responsive_menu {
  display:none;
}

.block_sidebar_social .row.ig .text {background-image:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_ig_1.jpg);}
.block_sidebar_social .row.ig .text {background-image:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_ig_1_r.jpg); background-size:31px 31px;}

.block_secondary_menu .menu_type_2 {
    width: 380px;
}

.block_general_title_2 .stats .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_caption_1 .stats .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_1 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_2 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_3 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_4 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_5 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}
.block_posts .post_type_6 .info .views {margin-left:10px; padding-left:15px; float:left; background:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1.png) no-repeat 0px 3px; font-size:12px; color:#969696; line-height:normal;}

.block_general_title_2 .stats .views,
.block_caption_1 .stats .views,
.block_posts .post_type_1 .info .views,
.block_posts .post_type_2 .info .views,
.block_posts .post_type_3 .info .views,
.block_posts .post_type_4 .info .views,
.block_posts .post_type_5 .info .views,
.block_posts .post_type_6 .info .views {background-image:url(http://www.randyjap.com/sandwich_assets/layout/images/icon_views_1_r.png); background-size:11px 10px;}
