.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  // background: tomato;
  min-height: 70px;
}

.footer {
  // background: lightgreen;
}

.main {
  padding-top: 110px;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 400px;
  text-align: left;
  // background: deepskyblue;
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .footer  { order: 2; }
}

body {
}

/* Large */
.navigation {
  position: relative;
  top: 19px;
  right: 50px;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.nav-links {
  padding-left: 20px;
  padding-right: 20px;
}

.news-card {
  padding-bottom: 20px;
}

.article {
  height: 90px;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}

img.article-image {
  height: 90px;
  width: 150px;
}

.article-description {
  padding: 10px;
}

img.logo {
  position: absolute;
  left: 10px;
  top: -5px;
  height: 100px;
  width: 120px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  padding-bottom: 20px;
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.search-bar {
  position: relative;
  right: 100px;
  bottom: 16px;
}

.article-body-content>p:nth-of-type(1):not(.standout):first-letter {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: -.5rem;
  color: #0f1568;
  float: left;
  font-size: 10rem;
  line-height: .5;
  margin: 1.8rem 0 0;
  padding-right: .5rem;
}
