.header {
  height: 150px;
  background: black;
  width: 100%;
}

.header-title {
  cursor: pointer;
  position: relative;
  top: 52px;
  font-size: 120px;
  text-align: center;
  color: white;
  font-family: serif;
}

/* Large */
.header-buttons {
}

.main {
  position: relative;
  max-width: 958px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  cursor: pointer;
  height: auto;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.main-header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 18px;
  margin-top: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 2px;
}

@media screen and (max-width: 430px) {
    .main-header-nav {
        flex-direction: column;
    }
}

.main-header-nav > li {
  cursor: pointer;
  z-index: 1;
}

.main-header-nav > li > a {
  padding: 10px;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
}

.main-header-nav > li:hover {
  text-decoration: underline;
}

.article {
  position: relative;
  margin: 20px;
  padding: 0px;
  box-shadow: 10px 10px 5px #888888;
}

.main-carousel-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.article-text {
  padding: 20px;
  height: 210px;
  overflow-y: scroll;
}

.main-two-column {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.main-article {
  max-width: 900px;
}

.two-column-article {
  height: 570px;
  max-width: 419px;
  margin: 25px;
}

.article-text {
  max-width: 100%;
}

.main-body {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: row;
}

.footer {
  margin-top: 2px;
  height: 50px;
  width: 100%;
  border-top: 3px solid black;
}

.article-title {
  font-size: 20px;
  weight: 200;
  padding-bottom: 20px;
}

.article-body > mycooltag > p {
  padding-bottom: 10px;
  font-size: 14px;
}
