.header {
  height: 150px;
  background: black;
  width: 100%;
}

.header-title {
  position: relative;
  top: 52px;
  font-size: 120px;
  text-align: center;
  color: white;
  font-family: serif;
}

/* Large */
.header-buttons {
}

.main {
  max-width: 958px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.main-header-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 18px;
  margin-top: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 2px;
}

.main-header-nav > li {
  cursor: pointer;
  z-index: 1;
}

.main-header-nav > li > a {
  padding: 10px;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
}

.main-header-nav > li:hover {
  text-decoration: underline;
}

.article {
  margin: 20px;
  padding: 0px;
  box-shadow: 10px 10px 5px #888888;
}

.main-carousel-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.article-text {
  padding: 20px;
}

.main-two-column {
  max-width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.two-column-article {
  max-width: 419px;
  margin: 25px;
}

.article-text {
  max-width: 100%;
}

.main-body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.footer {
  margin-top: 2px;
  height: 50px;
  width: 100%;
  border-top: 3px solid black;
}
